<div id="<%= index %>" class="modal">

    <div class="navigation" id="above">
        <% if (index > 0) { %>
          <a onclick="changeModal(<%= index %>, <%= index - 1 %>, event)">FORRIGE</a>
        <% } else { %>
          <span></span>
        <% } %>

        <% if (index < maxIndex) { %>
          <a onclick="changeModal(<%= index %>, <%= index + 1 %>, event)">NESTE</a>
        <% } else { %>
          <span></span>
        <% } %>
    </div>

    <div class="detailed">

        <div class="heading">
            <div class="link">
                <a href="<%= item.taxfree.url %>" target="_blank"><img src="images/www.png" class="www"><%= item.name %></a>
            </div>
            <div class="close" index="<%= index %>">x</div>
        </div>

        <hr>

        <div class="price">
          <div class="prices">
            <span class="text"><a href="<%= item.url %>" target="_blank">VINMONOPOLET</a> <b class="number"><%= Math.ceil(item.price) %></b></span>
            <span class="text"><a href="<%= item.taxfree.url %>" target="_blank">TAX-FREE</a> <b class="number"><%= Math.ceil(item.taxfree.price) %></b></span>
          </div>
          <span class="text">
              DIFFERANSE
              <b class="number"><%= Math.floor(item.taxfree.discount) %></b>
              <b class="percent">%</b>
            </span>
        </div>

        <div class="price">
          <div class="prices">
            <span class="text">
              LITERPRIS <b class="number"><%= Math.ceil(item.taxfree.literprice) %></b>
            </span>

            <% if (item.alcoholprice) { %>
              <span class="text">
                ALKOHOLLITERPRIS <b class="number"><%= Math.ceil(item.taxfree.alcoholprice) %></b>
              </span>

              <span class="text">
                ALKOHOL <b class="number"><%= item.alcohol %></b><b class="percent">%</b>
              </span>
            <% } %>
          </div>
        </div>

        <hr>

        <%- include('partials/detailed-common', { item: item }) %>

        <script>
        var prices = <%= JSON.stringify(item.prices) %>.map(price => Math.ceil(price));
          if (!prices || prices.length === 0) {
            prices = [0, 0];
          }
          var dates = generateDates(prices.length);

          // Duplicate the last price and add today's date to the end of the list
          prices.push(prices[prices.length - 1]);
          dates.push("nå");

          // Store the price history in session.
          sessionStorage.setItem("<%= index %>", JSON.stringify({
            price: prices,
            date: dates
          }));
        </script>

        <hr>

        <div class="price">
          <div class="prices">
            <span class="text"><a href="<%= item.url %>" target="_blank">VINMONOPOLET</a> <b class="number"><%= Math.ceil(item.price) %></b></span>
            <span class="text"><a href="<%= item.taxfree.url %>" target="_blank">TAX-FREE</a> <b class="number"><%= Math.ceil(item.taxfree.price) %></b></span>
          </div>
          <span class="text">
              DIFFERANSE
              <b class="number"><%= Math.floor(item.taxfree.discount) %></b>
              <b class="percent">%</b>
            </span>
        </div>

        <div class="price">
          <div class="prices">
            <span class="text">
              LITERPRIS <b class="number"><%= Math.ceil(item.taxfree.literprice) %></b>
            </span>

            <% if (item.alcoholprice) { %>
              <span class="text">
                ALKOHOLLITERPRIS <b class="number"><%= Math.ceil(item.taxfree.alcoholprice) %></b>
              </span>

              <span class="text">
                ALKOHOL <b class="number"><%= item.alcohol %></b><b class="percent">%</b>
              </span>
            <% } %>
          </div>
        </div>

        <hr>

        <div class="heading">
            <div class="link">
              <a href="<%= item.taxfree.url %>" target="_blank"><img src="images/www.png" class="www"><%= item.name %></a>
            </div>
            <div class="close" index="<%= index %>">x</div>
        </div>
    </div>

    <div class="navigation" id="below">
        <% if (index > 0) { %>
          <a onclick="changeModal(<%= index %>, <%= index - 1 %>, event)">FORRIGE</a>
        <% } else { %>
          <span></span>
        <% } %>

        <% if (index < maxIndex) { %>
          <a onclick="changeModal(<%= index %>, <%= index + 1 %>, event)">NESTE</a>
        <% } else { %>
          <span></span>
        <% } %>
    </div>
</div>
