<section
  class="product"
  index="<%= index %>"
  style="
    --highlight: <%=
      taxfree ?
        (item.taxfree.discount > 0 ? 'var(--negative)' :
         item.taxfree.discount < 0 ? 'var(--positive)' : 'var(--block)') :
        (item.discount > 0 ? 'var(--negative)' :
         item.discount < 0 ? 'var(--positive)' : 'var(--block)')
    %>;
    --marker: <%=
      taxfree ?
        (item.taxfree.discount > 0 ? 'var(--red)' :
         item.taxfree.discount < 0 ? 'var(--green)' : 'var(--dimtext)') :
        (item.discount > 0 ? 'var(--red)' :
         item.discount < 0 ? 'var(--green)' : 'var(--dimtext)')
    %>;"
>

  <div class="image">
    <img src="<%= item.images.product %>" alt="flaske">
    <span class="text">
      <b class="number"><%= (item.volume % 1 === 0) ? item.volume.toFixed(0) : item.volume.toFixed(1) %></b> cL
    </span>
  </div>

  <div class="metadata">
    <div class="information">
      <div class="name">
        <span><%= item.name %></span>

        <% if (user) { %>
          <img
              src="./images/favourite<%= user.favourites.includes(item.index) ? '-filled' : '' %>.png"
              alt="Favoritt"
              data-index="<%= item.index %>"
              class="favourite-toggle"
          >
        <% } %>
      </div>

      <div class="category">
        <span>
          <b><%= item.category %></b>
          <span style="font-size: 14px;"> <%= item.subcategory %></span>
        </span>

        <span>
          <b class="alcohol"><%= item.alcohol %></b>
          <b class="percent">%</b> alk.
        </span>
      </div>

      <div class="country">
        <span style="font-size: var(--fontsize-normal);"><%= item.country %></span>
        <% if (item.district) { %>
          <span id="dot" style="font-size: 10px;">●</span>
          <span style="font-size: var(--fontsize-small);"><%= item.district %></span>
        <% } %>
        <% if (item.subdistrict) { %>
          <span id="dot" style="font-size: 10px;">●</span>
          <span style="font-size: var(--fontsize-smallest);"><%= item.subdistrict %></span>
        <% } %>
      </div>

      <% if (storelike) { %>
        <div class="country">
          <% const storeRegex = new RegExp(`(^|[^a-zæøåA-ZÆØÅ])${storelike}([^a-zæøåA-ZÆØÅ]|$)`, 'i') %>
          <% const matchingStores = item.stores.filter(store => storeRegex.test(store)) %>
          <% matchingStores.forEach((store, index) => { %>
            <div style="font-size: 16px;"><%= store %></div>
            <% if (index !== matchingStores.length - 1) { %>
              <div id="dot" style="font-size: 10px;">●</div>
            <% } %>
          <% }) %>
        </div>
      <% } %>

      <% if (taxfree && item.taxfree.stores) { %>
        <div class="country">
          <% const taxfreeStores = item.taxfree.stores.sort((a,b) => a.localeCompare(b)) %>
          <% taxfreeStores.forEach((store, index) => { %>
            <div style="font-size: 16px;"><%= store %></div>
            <% if (index !== taxfreeStores.length - 1) { %>
              <div id="dot" style="font-size: 10px;">●</div>
            <% } %>
          <% }) %>
        </div>
      <% } %>

      <% if (item.rating && (item.rating.value !== undefined && item.rating.value !== null)) { %>
        <div class="rating">
          <% if (item.rating.url) { %>
            <a href="<%= item.rating.url %>"
                target="_blank"
                rel="noopener noreferrer"
                onclick="event.stopPropagation()">
          <% } %>

          <% for(let i = 0; i < 5; i++) { %>
            <span class="star <%= i < item.rating.value ? 'filled' : '' %>">★</span>
          <% } %>

          <span class="number"><%= item.rating.value %></span>
          <span>av</span>
          <span class="number">5</span>

          <% if (item.rating.url) { %>
            </a>
          <% } %>
        </div>
      <% } %>

      <% if (item.description) { %>
        <span class="description"><%= item.description.lang %></span>
      <% } %>
    </div>

    <div class="price">
        <div class="prices">
          <% if (!taxfree) { %>
            <span class="text">KR <b class="number"><%= Math.ceil(item.price) %></b></span>
            <% if (item.oldprice) { %>
              <span class="text">FØR <b class="number"><%= Math.ceil(item.oldprice) %></b></span>
            <% } %>
        </div>

          <% if (item.oldprice) { %>
            <span class="text">
              ENDRING
              <b class="number"><%= Math.floor(item.discount) %></b>
              <b class="percent">%</b>
            </span>
          <% } %>

        <% } else { %>
          <span class="text">VINMONOPOLET <b class="number"><%= Math.ceil(item.price) %></b></span>
          <span class="text">TAX-FREE <b class="number"><%= Math.ceil(item.taxfree.price) %></b></span>
        </div>

        <span class="text">
            DIFFERANSE
            <b class="number"><%= Math.floor(item.taxfree.discount) %></b>
            <b class="percent">%</b>
          </span>
        <% } %>
    </div>
  </div>

  <%- include('detailed', { taxfree: taxfree, item: item, index: index }) %>

</section>
