<menu id="menu">
    <% if (!user) { %>
        <button onclick="toggleView('loginForm')">Logg inn</button>
        <span>&nbsp;</span>
        <button onclick="toggleView('registerForm')">Registrer</button>
    <% } else { %>
        <span>Velkommen tilbake&nbsp;</span>
        <button onclick="toggleView('account')"><%= user.username %></button>
        <% if (landing) { %>
            <span>!</span>
        <% } else { %>
            <span>;&nbsp;vis&nbsp</span>
            <% if (!favourites) { %>
                <button onclick="applyFilters(true, true)">favoritter</button>
            <% } else if (favourites) { %>
                <button onclick="applyFilters(true, true)">hovedside</button>
            <% } %>
            <span>.</span>
        <% } %>
    <% } %>
</menu>

<menu id="account" style="display: none;">
<% if (user) { %>
    <button onclick="toggleView('profile')">Innstillinger</button>
    <button onclick="logout()">Logg ut</button>
<% } %>
</menu>

<menu id="profile" style="display: none;">
    <button onclick="toggleView('notifyUserForm')">Varslinger</button>
    <button onclick="toggleView('deleteUserForm')">Slett meg</button>
</menu>

<form id="loginForm" style="display: none;">
    <search>
        <table>
            <tr>
                <td>Brukernavn&nbsp;</td>
                <td><input type="text" id="usernameLogin" name="username" minlength="2" required></td>
            </tr>
            <tr>
                <td>Passord</td>
                <td><input type="password" id="passwordLogin" name="password" minlength="4" required></td>
            </tr>
        </table>

        <button type="submit" style="text-wrap: nowrap; padding: var(--margin);">Logg inn</button>
    </search>
</form>

<form id="registerForm" style="display: none;">
    <search>
        <table>
            <tr>
                <td>Brukernavn&nbsp;</td>
                <td><input type="text" id="usernameRegister" name="username" minlength="2" required></td>
            </tr>
            <tr>
                <td>E-post</td>
                <td><input type="email" id="emailRegister" name="email" required></td>
            </tr>
            <tr>
                <td>Passord</td>
                <td><input type="password" id="passwordRegister" name="password" minlength="4" required></td>
            </tr>
            <tr>
                <td>Månedsvarsel&nbsp;</td>
                <td><input type="checkbox" id="notifyRegister" name="notify" value="true"></td>
            </tr>
        </table>

        <button type="submit" style="text-wrap: nowrap; padding: var(--margin);">Registrer</button>
    </search>
</form>

<form id="notifyUserForm" style="display: none;">
    <search>
        <input type="hidden" id="usernameNotify" name="username" value="<%= user?.username %>">

        <table>
            <tr>
                <td>E-post</td>
                <td><%= user?.email %></td>
            </tr>
            <tr>
                <td>Månedsvarsel&nbsp;</td>
                <td><input type="checkbox" id="activeNotify" name="notify" <%= user?.notify ? 'checked' : '' %>></td>
            </tr>
        </table>

        <button type="submit" style="text-wrap: nowrap; padding: var(--margin);">Lagre</button>
    </search>
</form>

<form id="deleteUserForm" style="display: none;">
    <search>
        <input type="hidden" id="usernameDelete" name="username" value="<%= user?.username %>">

        <table>
            <tr>
                <td>Brukernavn&nbsp;</td>
                <td><%= user?.username %></td>
            </tr>
            <tr>
                <td>E-post</td>
                <td><%= user?.email %></td>
            </tr>
            <tr>
                <td>Passord</td>
                <td><input type="password" id="passwordDelete" name="password" minlength="4" required></td>
            </tr>
        </table>

        <button type="submit" style="text-wrap: nowrap; padding: var(--margin);">Slett bruker</button>
    </search>
</form>

<span class="message" id="userMessage"></span>

<script src="scripts/profile.js"></script>
