<aside>

    <table class="metadata">
        <tbody>
            <% if (item.rating && (item.rating.value !== undefined && item.rating.value !== null)) { %>
                <tr>
                    <td>Rating</td>
                    <td>Vurdert <%= item.rating.value %> av 5 hos
                        <% if (item.rating.url) { %>
                        <a href="<%= item.rating.url %>"
                            target="_blank"
                            rel="noopener noreferrer"
                            onclick="event.stopPropagation()">vivino</a>.
                        <% } else { %>
                        vivino.
                        <% } %>
                        <% if (item.rating.updated) { %>
                        Oppdatert <%= (typeof item.rating.updated === 'string' ? new Date(item.rating.updated) : item.rating.updated).toLocaleString('nb-NO', { dateStyle: 'long' }) %>.
                        <% } %>
                    </td>
                </tr>
            <% } %>
            <% if (taxfree && item.taxfree.stores) { %>
                <tr>
                    <td>Lager</td>
                    <td><%= item.taxfree.stores.sort((a,b) => a.localeCompare(b)).join(' + ') %></td>
                </tr>
            <% } %>
            <% if (item.smell) { %>
                <tr>
                    <td>Lukt</td>
                    <td><%= item.smell %></td>
                </tr>
            <% } %>
            <% if (item.taste) { %>
                <tr>
                    <td>Smak</td>
                    <td><%= item.taste %></td>
                </tr>
            <% } %>
            <% if (item.storage) { %>
                <tr>
                    <td>Lagring</td>
                    <td><%= item.storage %></td>
                </tr>
            <% } %>
            <% if (item.colour) { %>
                <tr>
                    <td>Farge</td>
                    <td><%= item.colour %></td>
                </tr>
            <% } %>
            <% if (item.pair && item.pair.length > 0) { %>
                <tr>
                    <td>Passer til</td>
                    <td><%=
                        item.pair.map(function(pair) {
                        return pair.trim();
                        }).join(' & ')
                        %></td>
                </tr>
            <% } %>
            <% if (item.method) { %>
                <tr>
                    <td>Metode</td>
                    <td><%= item.method %></td>
                </tr>
            <% } %>
            <% if (item.year) { %>
                <tr>
                    <td>Årgang</td>
                    <td><%= item.year %></td>
                </tr>
            <% } %>
        </tbody>
    </table>


    <% if (
        (item.characteristics && Array.isArray(item.characteristics) && item.characteristics.length > 0)
        ||
        (item.ingredients && Array.isArray(item.ingredients) && item.ingredients.length > 0)
    ) { %>
        <table class="fractions">
            <tbody>
                <% if (item.characteristics && Array.isArray(item.characteristics) && item.characteristics.length > 0) { %>
                    <tr>
                        <th>EGENSKAPER<th>
                    </tr>
                    <% item.characteristics.forEach(function(character) {
                        var parts = character.split(', ');
                        var values = parts[1].split(' av ');
                    %>
                        <tr>
                        <td class="label"><%= parts[0] %></td>
                        <td class="percentage" style="--percentage: <%= Math.round(100 * parseInt(values[0]) / parseInt(values[1])) %>;"></td>
                        </tr>
                    <% }); %>
                <% } %>

                <% if (item.ingredients && Array.isArray(item.ingredients) && item.ingredients.length > 0) { %>
                    <tr></tr>
                    <tr>
                        <th>INGREDIENSER<th>
                    </tr>
                    <% item.ingredients.forEach(function(ingredient) {
                        const patterns = [
                        /(\d+)\s*%\s*([a-zA-ZæøåÆØÅéÉèÈêÊëËáÁàÀâÂäÄíÍìÌîÎïÏóÓòÒôÔöÖúÚùÙûÛüÜñÑçÇßðÐþÞ\u0300-\u036f, ()]+)/i, // Matches "90% eple" or "10% (rips, solbær)"
                        /([a-zA-ZæøåÆØÅéÉèÈêÊëËáÁàÀâÂäÄíÍìÌîÎïÏóÓòÒôÔöÖúÚùÙûÛüÜñÑçÇßðÐþÞ\u0300-\u036f, ()]+)\s*(\d+)\s*prosent/i, // Matches "Sumoll (Vijariego Negro) 10 prosent" or "Pinot Bianco 80 prosent"
                        /([a-zA-ZæøåÆØÅéÉèÈêÊëËáÁàÀâÂäÄíÍìÌîÎïÏóÓòÒôÔöÖúÚùÙûÛüÜñÑçÇßðÐþÞ\u0300-\u036f, ()]+)/i, // Matches single word types like "Riesling"
                        ];
                        let result = null;
                        for (const pattern of patterns) {
                        const match = ingredient.match(pattern);
                        if (match) {
                            if (pattern === patterns[0]) {
                            result = { grape: match[2].trim(), percentage: parseFloat(match[1].trim()) };
                            result.grape = result.grape.charAt(0).toUpperCase() + result.grape.slice(1);
                            } else if (pattern === patterns[1]) {
                            result = { grape: match[1].trim(), percentage: parseFloat(match[2].trim()) };
                            } else if (pattern === patterns[2]) {
                            result = { grape: match[1].trim(), percentage: 100.0 };
                            }
                            break;
                        }
                        }
                        if (result) { %>
                        <tr>
                        <td class="label"><%= result.grape %></td>
                        <td class="percentage" style="--percentage: <%= result.percentage %>;"></td>
                        </tr>
                        <% } %>
                    <% }); %>
                <% } %>
            </tbody>
        </table>
    <% } %>

</aside>
