<menu id="<%= placement %>">
    <div onclick="window.location.href='https://snublejuice.no'" style="cursor: pointer;">Snublejuice.no</div>
    <img src="images/snublejuice.jpg" alt="Snublejuice.no" onclick="window.location.href='https://snublejuice.no'" style="cursor: pointer;">

    <% if (page > 1) { %>
        <li><a href="#" onclick="changePage(<%= page - 1 %>)"><-</a></li>
    <% } %>

    <span><%= page %> av <%= totalPages %></span>

    <% if (page < totalPages) { %>
        <li><a href="#" onclick="changePage(<%= page + 1 %>)">-></a></li>
    <% } %>
</menu>
