<section
  class="product"
  id="<%= index %>"
  index="<%= index %>"
  style="
    --color: <%=
      taxfree ?
        (item.taxfree.discount > 0 ? 'var(--negative)' :
        item.taxfree.discount < 0 ? 'var(--positive)' : 'var(--neutral)') :
        (item.discount > 0 ? 'var(--negative)' :
        item.discount < 0 ? 'var(--positive)' : 'var(--neutral)')
    %>;"
>
    <div>
        <h1>
            <% if (user) { %>
                <p
                    alt="Favoritt"
                    data-index="<%= item.index %>"
                    class="favourite-toggle"
                >
                    <%= user.favourites.includes(item.index) ? '★' : '☆' %>
                </p>
            <% } %>

            <a href="<%= taxfree ? item.taxfree.url : item.url %>" target="_blank"><%= item.name %></a>
        </h1>

        <span>
            <p><%= item.category %></p>
            <% if (item.subcategory) { %>
                <p><i><%= item.subcategory %></i></p>
            <% } %>
            <p>•</p>
            <p><%= item.alcohol %>% alk.</p>
        </span>

        <span>
            <p><%= item.country %></p>
            <% if (item.district) { %>
                <i><%= item.district %></i>
            <% } %>
            <% if (item.subdistrict) { %>
                <p><%= item.subdistrict %></p>
            <% } %>
        </span>

        <% if (storelike) { %>
        <span class="list">
            <% const storeRegex = new RegExp(`(^|[^a-zæøåA-ZÆØÅ])${storelike}([^a-zæøåA-ZÆØÅ]|$)`, 'i') %>
            <% const matchingStores = item.stores.filter(store => storeRegex.test(store)) %>
            <% matchingStores.forEach((store, index) => { %>
            <p>• <%= store %></p>
            <% }) %>
        </span>
        <% } %>

        <% if (taxfree && item.taxfree.stores) { %>
        <span class="list">
            <% const taxfreeStores = item.taxfree.stores.sort((a,b) => a.localeCompare(b)) %>
            <% taxfreeStores.forEach((store, index) => { %>
            <p>• <%= store %></p>
            <% }) %>
        </span>
        <% } %>

        <% if (item.rating && (item.rating.value !== undefined && item.rating.value !== null)) { %>
        <span>
            <% if (item.rating.url) { %>
                <a href="<%= item.rating.url %>"
                    class="rating"
                    target="_blank"
                    rel="noopener noreferrer"
                    onclick="event.stopPropagation()">
            <% } %>

            <% for (let i = 0; i < 5; i++) { %>
                <p class="star" style="--fill: <%=
                    i < Math.floor(item.rating.value) ? 100 :
                    i === Math.floor(item.rating.value) ? (item.rating.value - Math.floor(item.rating.value)) * 100 : 0
                %>%">★</p>
            <% } %>

            <p><b><%= item.rating.value %></b> av <b>5</b></p>

            <% if (item.rating.url) { %>
                </a>
            <% } %>
        </span>
        <% } %>

        <% if (item.description) { %>
            <span><%= item.description.lang %></span>
        <% } %>

        <span>
            <% if (taxfree) { %>
                <a href="<%= item.taxfree.url %>" target="_blank">TAX-FREE <b><%= Math.ceil(item.taxfree.price) %></b></a>
                <a href="<%= item.url %>" target="_blank">VINMONOPOLET <b><%= Math.ceil(item.price) %></b></a>
                <p>DIFFERANSE <b><%= Math.floor(item.taxfree.discount) %>%</b></p>
                <p>KR/L <b><%= Math.ceil(item.literprice) %></b></p>
            <% } else { %>
                <p>KR <b><%= Math.ceil(item.price) %></b></p>

                <% if (item.oldprice) { %>
                    <p>FØR <b><%= Math.ceil(item.oldprice) %></b></p>
                    <p>ENDRING <b><%= Math.floor(item.discount) %>%</b></p>
                <% } %>

                <p>KR/L <b><%= Math.ceil(item.literprice) %></b></p>
            <% } %>
        </span>

        <svg class="path" viewBox="0 0 0 0" preserveAspectRatio="none">
            <path
                id="path-<%= index %>"
                d=""
                data-prices='<%= JSON.stringify(item.prices) %>'
            ></path>
        </svg>
    </div>

    <%- include('detailed', { taxfree: taxfree, item: item, index: index }) %>

</section>
